body {
    background-color: #0e1117;
    color: #ffffff;
}
h1, h2, h3 {
    color: #00e5ff;
}
.reportview-container {
    background-color: #0e1117;
}
.block-container {
    background-color: #0e1117;
}
