body {
    background-color: #ffffff;
    color: #000000;
}
h1, h2, h3 {
    color: #1c3d57;
}
.reportview-container {
    background-color: #ffffff;
}
.block-container {
    background-color: #ffffff;
}
